# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/

# Environments & IDE
.venv/
env/
venv/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# App artifacts
.env
crm2.db
*.sqlite
*.sqlite3
logs/

*.zip
