# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Databases
*.aiosqlite
*.db

# Virtual environment
.venv/
env/
venv/

# IDE
.idea/
.vscode/

# Secrets
*.env
token_local.env

# Logs
*.log

# Local dev/test files
*.sqlite3
*.zip
*.ini
*.jpg
*.docx
*.json
*.txt
*.pyc
null
null.txt
tmp/
images/
static/

# Old/test scripts
123.py
*.py
!from_chatgpt/**/*.py
