# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.build/

# Environments & IDE
.venv/
env/
venv/
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# App artifacts
.env
.env.*
.env.local
.env.prod
*.env

# Исключение для шаблона
!.env.example

config.ini
secrets.json
crm2.db
*.sqlite
*.sqlite3
logs/

# Archives
*.zip
*.rar
*.tar.gz

# Database backups
*.db-journal
*.db-shm
*.db-wal
crm2/data/*.db
data/*.db

# Temporary files
*.tmp
*.bak
*.swp
*.swo
*~

# Logs
*.log