# --- Python ---
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
.eggs/
build/
dist/

# --- Виртуальное окружение ---
venv/
.venv/

# --- IDE (PyCharm) ---
.idea/
*.iml

# --- ОС мусор ---
.DS_Store
Thumbs.db

# --- Секреты и локальные конфиги ---
*.env
.env*
token_local.env

# --- Локальные базы и кеши ---
*.db
*.sqlite3

# --- Логи ---
*.log

# --- Тесты/coverage ---
htmlcov/
.coverage*
.pytest_cache/
.tox/
